@{
    ViewBag.Title = "Home Page";
}

<div class="product-info">
    <img src="~/img/manada.jpg" />
    <h3>Premium Giclee Print</h3>
    <ul class="product-props">
        <li>Price: $32.99</li>
        <li>Artist: Luis Beltran</li>
        <li>Title: Manada</li>
        <!--<li>Description: This premium giclée print, an upgrade from the standard giclée print, is produced on thick (310 gsm), textured watercolor paper with the same vivid colors, accuracy, and exceptional resolution giclée prints are known for. The standard for museums and galleries around the world, giclée is a printing process where millions of ink droplets are “sprayed” onto a high-quality paper. The smooth transitions of color gradients make giclée prints appear much more realistic than other prints.</li>-->
        <li>Description: This premium giclée print...</li>
    </ul>
    <button id="buyButton" class="btn btn-success">Buy</button>
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject:</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Remember Me?</label>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>