@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">The Art Photo Spot</h1>
            <p class="lead">Art Photo Web Shop</p>
            <hr class="my-4">
            <p>Choose a piece of art that matches your personal taste.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" asp-controller="App" asp-action="Shop" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>

@*<div class="row bg-light">
    <div class="col-9">
        <div class="product-info">
            <img src="~/img/manada.jpg" />
            <h3>Premium Giclee Print</h3>
            <ul class="product-props">
                <li>Price: $32.99</li>
                <li>Artist: Luis Beltran</li>
                <li>Title: Manada</li>
                <li>Description: This premium giclée print...</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>

        <div id="theForm">
            <form>
                <label>Your Name:</label>
                <br />
                <input />
                <br />
                <label>Email:</label>
                <br />
                <input type="email" />
                <br />
                <label>Subject:</label>
                <br />
                <input type="text" />
                <br />
                <label>Message:</label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <input type="submit" value="Send Message" />
            </form>
        </div>

        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label>Username</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>Remember Me?</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-3">
        <p>Afds gdf gdf  tr tuyu tye try rty rtu hytj ty  hgf hgh ghgfhgf hgfhgfhgfhgfhfgftr try tryt rty rttr ttrytry trjty rt rt er g dfgfd hggfh gf h.</p>
    </div>
</div>*@


